/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font */
@font-face {
  font-family: 'OpenDyslexic';
  src: url('OpenDyslexic-Regular.woff2') format('woff2');
}

body {
  font-family: 'OpenDyslexic', sans-serif;
  color: #FFAB6C;
  text-align: center;
  margin-bottom: 80px;
}

a.button, button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
width: 50%;  
background: black;
  color: floralwhite;
  cursor: pointer;
  border:  2px solid white;
  border-radius: 13px;
  font-size: 1.1rem;
font-weight: bold;
}
button:hover{
  background: lightgray;
}

nav {
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: space-between;
  padding: 15px 30px;
  backdrop-filter: blur(19px);
}

nav a {
  color: yellow;
  text-shadow: 1px 1px 3px darkred;
  text-decoration: none;
  margin-left: 10px;

}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #f5f5f5;
  padding: 15px 10px;
  text-align: center;
  background: rgba(10, 10, 20, 0.85);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 13px;
  letter-spacing: 0.4px;
  backdrop-filter: blur(8px);
}



/* GLASS EFFECT FOR CONTENT */
section, div  {
  padding: 40px 20px;
 text-align: center;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(2px);  
  border-radius: 15px;
  margin: 30px;
}

li {list-style-type: none;
}

header{
  color: white;
  
  padding: 0px;
  margin:50px;
}

.heading{
  color: white;
 text-shadow: 1px 1px orange, 2px 2px red, 3px 3px brown;

}

.subheading{
  color:#0D4AFF ; 
  
}
  
  
  
  .paras{
    color: #A20B0B;
  }

.issues{
  color: #38CE36;
}


input, textarea {
  width: 60%;
  padding: 14px;
  margin-bottom: 20px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 1rem;   }

span{
  color: white;
}

label{
  color: antiquewhite
}



select {
  padding: 10px 15px;
  border-radius: 8px;
  border: 2px solid #ddd;
  background: white;
  color: black;
  
  appearance: none;
 
}



/* landing page*/
#landing {
  color: white;
background-color: black;
  line-height: 2;
  padding: 10px;
  background-image:
  url("landing.jpeg");
  background-size: contain;
background-position: center;
background-repeat: repeat;
  
}

strong, h3{
  color: saddlebrown;
text-shadow: 1px 1px 3px antiquewhite
  
}

h2{
  color: lightpink;
  text-shadow: 1px 1px ghostwhite, 2px 2px floralwhite, 3px 3px antiquewhite;
}

.tv{
  color: deepskyblue;
}

.swifties{ color: orange;
text-shadow: 1px 1px green, 2px 2px mediumpurple, 3px 3px dodgerblue;
  
}
.hero h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.hero p {
  margin-bottom: 15px;
}

ol {
  max-width: 500px;
  margin: auto;
  text-align: left;
}

ol li {
  margin-bottom: 20px;
}



/* login page */
#login {
background-image:
  url("loginpage.jpeg");
  background-size: contain;
background-position: center;
background-repeat: repeat;
}

/* create ticket */
#createticket {
background-color: black;
  line-height: 2;
  padding: 10px;
  background-image:
  url("createticket.jpeg");
  background-size: contain;
background-position: center;
background-repeat: repeat;
}

/* my tickets */

#mytickets {
background-color: black;
  line-height: 2;
  padding: 10px;
  background-image:
  url("mytickets.jpeg");
  background-size: contain;
background-position: center;
background-repeat: repeat;
}

/* tickets details */
#ticketdetail {
background-color: black;
  line-height: 2;
  padding: 10px;
  background-image:
  url("ticketsdetails.gif");
  background-size: contain;
background-position: center;
background-repeat: repeat;
}

.details {
  background-color: grey;
  border-radius: 10px;
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 15px;
}

/* admin dashboard */
#admin{ 
  background-image:
  url("admin.jpeg");
  background-size: contain;
background-position: center;
background-repeat: repeat;

}

eras {
  background-color: black;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
}

/* faq */
#faq {
background-color: black;
  line-height: 2;
  padding: 10px;
  background-image:
  url("faq.jpeg");
  background-size: contain;
background-position: center;
background-repeat: repeat;
}

.questions{
  color: white;
  background-color: black ;
  border-radius: 10px;
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 15px;
}

#faqcreateticket { color:green;
text-decoration: none;
}

